body, html {
	height: 100%;
	width: 100%;
	font-family: Arial;
}

.info-bar {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	background: #004E8E;
	color: #C3D8E9;
	text-align: center;
	
}

.big-container {
	background: #005AA3;
	width: 100%;
	margin: 0;
	border: 1px solid #378CCD;
}

.container {
	background: white;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 20px;
	box-shadow: 1px 1px 10px 1px black;
}

.top-container {
	display: inline-block;
	width: 100%;
	position: relative;
}

.dental-logo {
	float: left;
	padding-left: 20px;
	padding-top: 20px;
}

nav {
	float: right;
	text-align: center;
	position: absolute;
	right: 10px;
	top: 40px;
	color: #0063AB;
	font-size: 20px;
}

.info-container {
	width: 100%;
}

.info-photo {
	padding-left: 70px;
	padding-top: 30px;
}