body, html {
	height: 100%;
	width: 100%;
}

.info-bar {
	height: 30px;
	width: 100%;
	background: #004E8E;
}

.big-container {
	background: #005AA3;
	width: 100%;
	margin: 0;
	border: 1px solid #378CCD;
}

.container {
	background: white;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 20px;
	box-shadow: 1px 1px 10px 1px black;
}